:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

header{
  background-color: #6003c3;
  max-width: 100%;
}

h1 {
  padding: 3rem;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 3rem;
}

#message {
  margin: auto;
  text-align: center;
  padding: 3%;
  font-size: 2rem;
  color: #6003C3;
}

.boxes {
  margin: auto;
  font-size: 4rem;
}

.box {
  color: #6003c3;
  margin: auto;
  justify-content: center;
}

#box-1 {
  background: #FCFF00;
  padding: 24px 100px;
  border: #6003c3;
  border-style: solid;
}

#box-2 {
  background: #57FFC9;
  padding: 24px 100px;
  border: #6003c3;
  border-style: solid;
}

#box-3 {
  background: #A5FF01;
  padding: 24px 100px;
  border: #6003c3;
  border-style: solid;
}

/* ************************ START 730 MEDIA QUERY*************** */
@media (min-width: 730px) {



  .boxes {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 4rem;
  }
  
  }
  
  /* ************************ END 730 MEDIA QUERY*************** */